<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Zavrti Globus{% endblock %}</title>

        <style>
            .vsc-initialized {
                margin: 0;
            }
        </style>
        {% block stylesheets %}
        {% endblock %}

        <script>
            // if ('serviceWorker' in navigator) {
            //     navigator.serviceWorker.register('/sw.js')
            //         .then(reg => {
            //             console.log('Service worker registered');
            //         }, err => {
            //             console.log('error', err);
            //         })
            // }
        </script>
        {% block javascripts %}
        {% endblock %}
        <link rel="manifest" href="{{ asset('/manifest.json') }}">
        {% block favicon %}
            <link rel="icon" type="image/x-icon" href="{{ asset('/images/favicon/favicon.ico') }}"/>
        {% endblock %}
    </head>
    <body>
        {% include '@templates/sidebar.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
