{% extends 'base.html.twig' %}

{% block title %}Zavrti Globus{% endblock %}

{% block body %}
    <style>
        body {
            background: rgb(255, 255, 255);
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 20%, rgba(94, 181, 224, 1) 50%);
            background-attachment: fixed;
        }

        .home-header {
            color: white;
            font-family: Verdana
        }

        @media (prefers-color-scheme: dark) {
            body {
                background: rgb(255, 255, 255);
                background: linear-gradient(180deg, rgba(255, 255, 255, 1) 20%, rgba(94, 181, 224, 1) 50%);
                background-attachment: fixed;
            }
        }
    </style>

    <div style="text-align: center">
        <img src="{{ asset('/images/icon-512x512.png') }}" alt="zg-logo" style="margin-top: 100px">
        <div style="margin-top: 100px">
            <h1 class="home-header" style="font-size: 70pt;">Zavrti Globus</h1>
            <h2 class="home-header" style="font-size: 40pt;">Stay tuned...</h2>
        </div>
    </div>
{% endblock %}